body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* #banner{
    margin: 20px 100px;
}
.head-written{
    width: 50%;
    float: left;
}
.benner-pic{
    float: right;
}
h1{
    font-size: 50px;
} */
.top-banner{
    background: url(Image/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
.nm-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
    padding-left: 5%;
  
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, rgb(184, 120, 60));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}





















